body {
    background: #e6e9e9;
    margin: 0px;
}

.main{
    background: #fff;
    min-width: 600px;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    text-align: justify;
    padding: 25px;
    overflow:auto; /*определяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить.*/
    box-sizing: border-box; /* говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента.*/
}

.main p {
    text-indent: 40px;
}

.myparameters{
    text-indent: 40px; /*Отступ первой строки*/
    margin: 0px 130px ; /* 0px по вертикали | 200px по горизонтали */
    box-sizing: border-box; /* говорит браузеру учитывать любые границы и внутренние отступы в значениях, которые вы указываете в ширине и высоте элемента.*/
	overflow:auto; /*определяет, необходимо ли для переполненного блочного элемента содержимое обрезать, предоставить полосы прокрутки или просто отобразить.*/




    /*!___________________________________________ИСПОЛЬЗОВАНИЕ flexbox___________________________________________!*/
    display: flex; /* Ставим в родительском контейнере */
    display: inline-flex; /*отменям flex значения*/

    flex-direction: row; /*flex-direction:row - значения элементов по основной оси, по горизонтали*/
    flex-direction: column; /*flex-direction:row - значения элементов по побочной оси, по вертикали*/

    justify-content: space-around; /*Елементи распространяются по ширине родителя(по горизонтале), с отступами по бокам*/
    align-items: center; /*Размещаем елементи по вертикали*/

    align-self: flex-end; /*Выравнивание отдельного элемента по вертикали*/

    flex-wrap: wrap; /*Елементи если не алазят, то они не сжимаются а переходят на новую строку*/
    margin: auto; /*В дочернем элементе 'flex', выравнивание по центру як по горизонтали так и по вертикали*/
    /*  margin-left: auto;
        margin-top: auto;   */    


    flex-basis: 200px; /*Размер блока по главной оси(горизонтальной или вертикальной), приоритетней чем 'width', 'height'*/
    flex-grow: 2; /*Соотношения размера сторон 1=100%, 2=200%, 3=300%*/
    /*Ииспользуется если суммарная ширина вложенных блоков больше родительского элемента, в пропорциях, 'нужно читать документацию'*/
    flex-shrink: 3;
}

    /*Берем второй елемент <div> класса myparameters*/
    .myparameters div:nth-child(2){
        order: 1; /*В каком порядке будет идти елемент, нумерация с 0*/
    }
    
    /*!___________________________________________ИСПОЛЬЗОВАНИЕ flexbox___________________________________________!*/



    /*Для дисплея с разширением меньше 600px*/
    @media (max-width: 600px){

    }
    /*Для дисплея с разширением больше 1000px*/
    @media (min-width: 1000px){
    }

    /*Для дисплея с разрешениям больше 600px и меньше 900px*/
    @media (min-width: 600px) and (max-width: 900px){
        body {
            background: blue;
        }
    }


/*Список*/
ul {
    list-style-type: circle; /*Маркер в виде круга*/
    list-style-image: url("../dz/1.png"); /*Картинка в виде маркера*/
    list-style: none; /*Список без маркеров!*/

    content: counters(abc, ".") /*Для списка 1. 1.1. 1.2. .1.3 Нужно читать документацию*/
}


.background{
    background-image: url(1.png); /*Картинка на фон елемента*/
    background-repeat: no-repeat; /*Картинка не пофторяется*/
    background-repeat: repeat-x; /*Картинка пофторяется только по горизонтале*/
    background-repeat: repeat-y; /*Картинка пофторяется только по вертикали*/
    background-repeat: space; /*Картинка повторяется без урезания*/
    background-size: 200px 200px; /*Размер картинки*/
    background-size: cover;   /*Расширяет картинку на всю ширину блока, если что то не влазит то обрезает*/
    background-size: contain; /*Расширяет картинку на всю ширину блока, но так чтобы она вся влезла*/
    background-position: 30px 50px; /*Отспупи картинки 'center'*/
    background-attachment: fixed; /*Зафиксировать картинку на странице при прокрутке 'scrol' 'local',*/
    background-clip: padding-box; /*отобразить background картинкой не учитывая отступ */
}

